body {
    background-color: lightslategray;
      margin: 0;
      padding: 0;
      height: 100vh; 
  }
  .bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 500;
    font-style: normal;
    
  }
  .hero-banner {
    
    padding: 50px 0;
    text-align: center;
  }
  .hero-banner h1 {
    color: #333;
    font-size: 3rem;
    font-weight: bold;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .catalog-links {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 20px;
  }
  .favorite-heroes {
    text-align: center;
  }
  .favorite-heroes h2 {
    margin-top: 40px;
    font-weight: bold;
  }
  .hero-box {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    margin: 10px;
    display: inline-block;
  }
  .catalog-link {
    font-size: 2rem; 
    letter-spacing: 0.2rem; 
    font-weight: bold;
    color: white; 
  }

  .site-title {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
    color: white; 
  }

 
  .nav-link:hover {
    color: yellow; 
  }