body {
    background-color: #f8f9fa;
      margin: 0;
      padding: 0;
      background-image: url('/img/fondo.jpg'); /* Ruta de la imagen local */
      background-size: cover; /* La imagen cubre todo el fondo proporcionalmente */
      background-position: center; /* Centra la imagen en la ventana */
      background-repeat: no-repeat; /* Evita que la imagen se repita */
      height: 100vh; /* Ajusta la altura al 100% de la ventana */
  }

  .catalog-link {
    font-size: 1.5rem; /* Tamaño de letra más grande */
    letter-spacing: 0.2rem; /* Espaciado extendido entre letras */
    font-weight: bold;
  }

  .site-title {
    font-size: 2rem; /* Tamaño de letra más grande para Superheroe-Pedia */
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem; /* Espaciado adicional entre letras */
  }
  .hero-banner {
    
    padding: 50px 0;
    text-align: center;
  }
  .hero-banner h1 {
    color: #333;
    font-size: 3rem;
    font-weight: bold;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .catalog-links {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 20px;
  }
  .favorite-heroes {
    text-align: center;
  }
  .favorite-heroes h2 {
    margin-top: 40px;
    font-weight: bold;
  }
  .hero-box {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    margin: 10px;
    display: inline-block;
  }
