body {
  font-family: Arial, sans-serif;
    background-image: url('/img/fondocatalogo.jpg'); /* Imagen de fondo para toda la página */
    background-size: cover; /* Cubre toda la página */
    background-position: center; /* Centra la imagen */
      margin: 0;
      padding: 0;
      height: 100vh; /* Ajusta la altura al 100% de la ventana */
  }

  .hero-banner {
    
    padding: 50px 0;
    text-align: center;
  }
  .hero-banner h1 {
    color: #333;
    font-size: 3rem;
    font-weight: bold;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .catalog-links {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 20px;
  }
  .favorite-heroes {
    text-align: center;
  }
  .favorite-heroes h2 {
    margin-top: 40px;
    font-weight: bold;
  }
  .hero-box {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    margin: 10px;
    display: inline-block;
  }
  .catalog-link {
    font-size: 2rem; /* Tamaño de letra más grande */
    letter-spacing: 0.2rem; /* Espaciado entre letras */
    font-weight: bold;
    color: white; /* Color blanco para mejor visibilidad */
  }

  .site-title {
    font-size: 2.5rem; /* Tamaño de letra más grande para Superheroe-Pedia */
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem; /* Espaciado extra */
    color: white; /* Color blanco para resaltar */
  }

  /* Agrega un cambio de color al pasar el ratón */
  .nav-link:hover {
    color: yellow; /* Cambia el color al pasar sobre el enlace */
  }